/* set defaults for page */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* set container to cover full page, create a background colour, display flex and center items */
.container{
    width: 100%;
    height: 100vh;
    background: #141a34;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* positioning absolute relative to page with top and right positions */
.useful-links{
    position: absolute;
    top: 5%;
    right: 5%;

}

/* display block and text colour with text decorations */
.useful-links a{
    display: block;
    color: #fff;
    text-decoration: none;
}

/* set width and max width with some padding background and rounded edges and some shadowing */
.container form{
    width: 90%;
    max-width: 500px;
    padding: 50px 30px 20px;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
    position: relative;
}

/* create icon positioning */
.fa-paper-plane{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #fff;
    font-size: 26px;
    padding: 20px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* create input group to cover full width and align */
.input-group{
    width: 100%;
    display: flex;
    align-items: center;
    margin: 10px 0;
    position: relative;
}

/* flex basis is new to me */
.input-group label{
    flex-basis: 28%;
}

/* select felx basis and background  */
.input-group input, .input-group textarea{
    flex-basis: 68%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 10px 0;
    border-bottom: 1px solid #999;
    color: #333;
    font-size: 16px;
}

/* pseudo element selector */
::placeholder{
    font-size: 14px;
}

/* create form button styling */
form button{
    background: #141a34;
    color: #fff;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.7);
    padding: 10px 40px;
    outline: 0;
    cursor: pointer;
    display: block;
    margin: 30px auto 10px;
}

/* error messages contained in span */
.input-group span{
    position: absolute;
    bottom: 12px;
    right: 17px;
    font-size: 14px;
    color: red;
}

/* error colouring */
#submit-error{
    color: red;
}

/* success colouring */
.input-group span i{
    color: green;
}